/*********Entry page************************/
h1 {
  text-align: center;
  margin-top: 5px;
}

.doc-container {
  margin-bottom: 20px;
}

.doc-wrapper {
    width: 220px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.doc-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.doc-entry-image {
  height: 300px;
  width: 220px;
}

.doc-entry-name {
  display: block;
  text-align: center;
}

/*********Nav bar************************/
nav {
  height: 75px;
  border-bottom: 1px solid #d8e1e9 ;
}

.doc-profile-wrapper {
    position: absolute;
    left: 15px;
}

.select-doc-wrapper {
    position: absolute;
    right: 15px;
    top: 15px;
}

.select-doc-wrapper button {
  border: none;
  background-color: #dceded;
}
.doc-cal-image {
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding-left: 10px;
  padding-top: 5px;
}

.doc-cal-name {
  font-size: 12px;
}
/*********Date picker********************/
#sidebar {
    min-width: 310px;
    max-width: 310px
}

#sidebar.active {
    margin-left: -310px;
}

#flatpickr {
  display: none;
}

.flatpickr-calendar.inline {
  margin: 0 auto;
  box-shadow: none;
}

.datepicker-container {
  margin-left: 25px;
}

#datepicker-close {
  width: 311px;
  height: 32px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  background-color: white;
  display: none; /* only displayed in screenwidths below 790px*/
}

#datepicker-close button {
    position: absolute;
    right: 5px;
    border: none;
    background-color: #e8ebeb;
}

.flatpickr-calendar.inline {
    width: 311px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}

/*********Sidebar**************/
@media(max-width: 798px){
  #sidebar {
    position: absolute;
    z-index: 9999;
    /*height: 1038px;*/
  }

  #datepicker-close {
  display: block;
}
  .datepicker-container {
  margin-left: 0;
}
}

.sidebarCollapse {
  display: none;
}

/*********Appointments grid**************/
#selected-date {
  display: inline-block;
  color: white;
  background-color: #569ff7;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.main-container {
  padding-top: 10px;
  margin: 0 auto;
}

.calendar-container {
  margin-left: 2vw;
  width: 61vw;
  margin-bottom: 12px;
  margin-top: 6px;
}

@media(max-width:956px) {
  .calendar-container {
    width: 54vw;
}}

@media(max-width:798px) {
  .calendar-container {
     width: 98vw;
  }
  .sidebarCollapse {
  display: inline-block;
}
}

.hour-container {
    height: 100px;
}

.hour {
  background-color: #f6eeee;
  border-bottom: 1px solid white;
  border-radius: 3px;
  height: 100px;
  width: 12%;
  min-width: 48px;
  position: relative;
  text-align: center;
}

.hour div {
  position: relative;
  top: 37%;
}

.slot-wrapper {
  width: 84%;
}

.slot {
  height: 25%;
  margin-left: 5px;
}

.slot:hover {
    cursor: pointer;
}

.slot-time, .patient-name {
  padding-left: 5px;
}

.free-time {
  border-bottom: .5px solid #d8e1e9;
}

.first-time, .middle-time, .last-time, .only-time {
  background-color: #7074dd;
  color: white;
}

.first-time, .middle-time, .last-time, .only-time {
  background-color: #7074dd;
  color: white;
}

.last-time, .only-time {
  border-bottom: 1px solid white;
}

.first-time, .middle-time {
  border-bottom: 0px;
}

.first-time {
  border-radius: 5px 5px 0px 0px;
}

.last-time {
  border-radius: 0px 0px 5px 5px;
}

.only-time {
  border-radius: 5px;
}

/*********Modals**************/
.modal-input {
  border: none;
  outline: none;
}

#add-appointment, #cancel-appointment {
  display: block;
}

#startTime {
  width: 40px;
}

.modal select {
  border: none;
  outline: none;
}

.modal select:hover {
  background-color: lightblue;
  border-radius: 2px;
}

.modal-date, .modal-time {
  display: inline-block;
}

.modal-date #date {
  width: 90px;
}

/***********Overlay***********/

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}
