/*********Nav bar************************/
nav {
  height: 80px;
  border-bottom: 1px solid #d8e1e9 ;
}
/*********Date picker********************/
#flatpickr {
  display: none;
}

.flatpickr-calendar.inline {
  margin: 0 auto;
  box-shadow: none;
}

.datepicker-container {
  margin-left: 25px;
}

/*********Appointments grid**************/
.main-container {
  padding-top: 10px;
}

.hour-container {
    height: 100px;
}

.hour {
  background-color: lightgray;
  border-bottom: 1px solid white;
  height: 100px;
}

.slot {
  height: 25%;
}

.free-time {
  border-bottom: .5px solid #d8e1e9;
}

.first-time, .middle-time, .last-time, .only-time {
  background-color: darkblue;
  color: white;
}

.first-time, .middle-time {
  border-bottom: 0px;
}

.first-time {
  border-radius: 5px 5px 0px 0px;
}

.last-time {
  border-radius: 0px 0px 5px 5px;
}

.only-time {
  border-radius: 5px;
}


/*
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}
*/
