{% extends 'base.html' %} {% block content %}
<nav class="row no-gutters">
    <div class=" profile-wrapper">
        <img class="doc-cal-image" src={{ selected_doctor.profile_picture}}>
        <span class="doc-cal-name">{{ selected_doctor.name}}</span>
    </div>
    <div class="select-doc-wrapper">
            <select class="js-example-basic-single" name="doctor_id">
            {% for doctor in doctors %}
               {% if doctor._id == selected_doctor._id %}
                    <option selected value={{doctor._id}}>{{doctor.name}}</option>
               {% else %}
                    <option value={{doctor._id}}>{{doctor.name}}</option>
                {% endif %}
            {% endfor %}
            </select>
            <button id="select-doc" type="submit">Go</button>
    </div>
</nav>
<div class="row no-gutters main-container">
    <div id="sidebar" class="datepicker-container">
        <input id="flatpickr" name="date" type="text" value={{ date }}>
    </div>
     <div class="calendar-container" data-dayid={{ day_id }}>
     <div id="selected-date"><span>{{ date }}</span></div>
     <button type="button" id="sidebarCollapse" class="btn btn-info">
         <i class="far fa-calendar-alt"></i>
     </button>
        {% for hour in calendar %}
            <div class="row no-gutters hour-container">
                <div class="hour"><div>{{hour.hour}}</div></div>
            	<div class="slot-wrapper">
                {% for time in hour.times %}
                    {% if time.empty == True %}
                    <div class="row no-gutters slot free-time" data-toggle="modal" data-target="#newAppointmentModal" data-time={{ time.time }}>
                        <span class="slot-time">{{time.time}}</span>
                    </div>
                    {% else %}
                        {% if time.first_time == True and time.last_time == True %}
                            <div class="row no-gutters slot only-time" data-id={{ time.appointment_id }} data-start={{ time.start_time }} data-end={{ time.end_time }} data-time={{ time.time }} data-toggle="modal" data-target="#editAppointmentModal">
                                <span class="slot-time">{{time.time}}</span>
                        	    <span class="patient-name">{{time.patient_name}}</span>
                            </div>
                        {% elif time.first_time == True %}
                            <div class="row no-gutters slot first-time"  data-id={{ time.appointment_id }} data-start={{ time.start_time }} data-end={{ time.end_time }} data-time={{ time.time }} data-toggle="modal" data-target="#editAppointmentModal">
                                <span class="slot-time">{{time.time}}</span>
                        	    <span class="patient-name">{{time.patient_name}}</span>
                            </div>
                        {% elif time.last_time == True %}
                            <div class="row no-gutters slot last-time" data-id={{ time.appointment_id }} data-start={{ time.start_time }} data-end={{ time.end_time }} data-time={{ time.time }} data-toggle="modal" data-target="#editAppointmentModal">
                            </div>
                        {% else %}
                            <div class="row no-gutters slot middle-time" data-id={{ time.appointment_id }} data-start={{ time.start_time }} data-end={{ time.end_time }} data-time={{ time.time }} data-toggle="modal" data-target="#editAppointmentModal">
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
			</div>
        {% endfor %}
     </div>
</div>

<!-- New appointment Modal -->
<div class="modal fade" id="newAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('insert_appointment') }}" method="POST">
            <label for="doctorName">Doctor</label>
            <span>{{ selected_doctor.name }}</span>
            <input type="hidden" name="doctor_id" value={{ selected_doctor._id }}>
            <label for="date">Date</label>
            <input id="date" type="text" name="date" value={{ date }} readonly>
            <select class="js-example-basic-single" name="patient_id">
            {% for patient in patients %}
            <option value={{patient._id}}>{{patient.name}}</option>
            {% endfor %}
            </select>
            <label for="startTime">Start time</label>
            <input id="startTime" type="text" name="start_time" value readonly>
            <label for="endTime">End time</label>
            <select id="endTime" class="js-example-basic-single" name="end_time"></select>
            <button type="submit" name="action">Add appointment</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit appointment Modal -->
<div class="modal fade" id="editAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Appointment details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{{ url_for('remove_appointment') }}" method="POST">
            <label for="doctorName">Doctor</label>
            <span>{{ selected_doctor.name }}</span>
            <label for="date">Date</label>
            <input id="date" type="text" name="date" value={{ date }} readonly>
            <label for="startTime">Start time</label>
            <span id="startTime"></span>
            <label for="endTime">End time</label>
            <span id="endTime"></span>
            <input type="hidden" name="doctor_id" value={{ selected_doctor._id }}>
            <input id="appointment_id" type="hidden" name="appointment_id" value>
            <input id="day_id" type="hidden" name="day_id" value>
            <button type="submit" name="action">Cancel appointment</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}