{% extends 'base.html' %}{% block content %}
    <form action="{{ url_for('set_doctor') }}" method="POST">
        <select class="js-example-basic-single" name="doctor_id">
            {% for doctor in doctors %}
               {% if doctor._id|string == selected_doctor %}
                    <option selected value={{doctor._id}}>{{doctor.name}}</option>
               {% else %}
                    <option value={{doctor._id}}>{{doctor.name}}</option>
                {% endif %}

            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
{% endblock %}